{% extends 'base.html.twig' %}

{% block title %}{{ action }} un contact{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ action }} un contact</h1>

        {{ form_errors(contactForm) }}

        {{ form_start(contactForm, {'attr': {'class': 'form-group'}}) }}
            <div class="form-group">
                {{ form_row(contactForm.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(contactForm.prenom, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(contactForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(contactForm.telephone, {'attr': {'class': 'form-control'}})}}
            </div>

            <button type="submit" class="btn btn-primary cmargintop">{{ action }}</button>
        {{ form_end(contactForm) }}
    </div>   
{% endblock %}
